<div class="ui hidden section divider"></div>
<div class="ui center aligned divided grid">

    <h3>
        <a id="previous-week-url" href="{{url_for('habits.habits_startpage')}}"><i data-weekstart="{{data['week'][0]}}" id="previous-week" onclick="previousWeek()" class="large angle left icon"></i></a>
        {{data['week'][0]}} - {{data['week'][6]}}
        <a id="next-week-url" href="{{url_for('habits.habits_startpage')}}" ><i id="next-week" onclick="nextWeek()" class="large angle right icon"></i></a>
    </h3>

</div>
<div class="ui horizontal section inverted divider"></div>
<div class="ui text container">
    {% set ns = namespace(positive="positive")%}
    {% for habit in data['habits'] %}
    <div id="{{habit['id']}}">
        <div class="ui horizontal section inverted divider">{{habit['body']}}</div>
        <div class="ui center aligned divided grid">
            <div class="row" data-id="{{habit['id']}}"
                data-delete="{{url_for('api.habits_completed_habit', habit_id=habit['id'], date_completed='') }}"
                data-url="{{url_for('api.habits_complete_habits', habit_id=habit['id']) }}">
                {% for day in data['days'] %}
                {%if habit['completed'][loop.index -1 ]['id'] is not none %}
                {% set ns.positive = "positive"%}
                {% else %}
                {% set ns.positive = ""%}
                {% endif %}
                <div class="ui middle aligned two wide computer four wide mobile column">
                    <button data-day="{{loop.index}}" onclick='completeHabitButtonPressed(this)'
                        class="ui focus tiny circular button {{ns.positive}} {{day}}">{{day}}</button>
                </div>
                {% endfor %}
                <div class="ui middle aligned fluid two wide computer eight wide mobile column"
                    id="delete-button-column">
                    <button onclick="deleteHabit('{{url_for("api.habits_one_habit", id=habit["id"])}}')"
                        class="ui small circular inverted red icon button" id="delete-button">
                        <i class="x icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="ui horizontal section inverted divider">Create New Habit</div>
    <div class="ui center aligned grid">
        <div class="row">
            <i id="toggle-create-habit-button" onclick="toggleCreateHabitForm();" class="large angle down icon"></i>
        </div>
    </div>
    <form id="create-habit-form" class="ui form inverted">
        <div class="field required">
            <label>Habit description</label>
            <input type="text" name="body" placeholder="Habit Description"></input>
        </div>
        <div class="two fields">
            <div class="required field">
                <label>Repetitions per week</label>
                <select name="repetition" class="ui dropdown tiny">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                </select>
            </div>
            <div class="ui field">
                <label>Habit keywords</label>
                <input name="keywords" type="text" placeholder="Keyword2,Keyword2"></input>
            </div>
        </div>
        <button type="submit" class="ui submit button">Create Habit</button>
        <input name="url" value="{{url_for('api.habits_habit')}}" type="hidden"></input>
    </form>
</div>

<script src='/static/js/habits.js' type='text/javascript'>
</script>