.completed-input {
    width: 4em;
}

.completed-label {
    width: 4em;
}

#habits-table {
    margin: auto;
    border: 3px solid rgb(212, 134, 82);
}

.ui.fluid.inverted.transparent.input {
    min-width: 50 px;
}

.ui.center.aligned.two.wide.computer.four.wide.mobile.column {
    margin-top: 8px;
    margin-bottom: 8px;
}

.ui.button[id^="day-button"]{
    margin-top: 4px;
    margin-bottom: 4px;
    box-shadow: 2px 2px;
}

#delete-button-column {
    margin-top: 8px;
    margin-bottom: 8px;
}

.ui.button.current-day {
    border: 3px solid #4195fc;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc;
}

#toggle-habit-button {
    cursor: pointer;
}

#create-habit-form.visible{
    display: block;
}

#create-habit-form{
    display: none;
}