{%  extends "base.html" %}
{% block header %}
{{super()}}
<link rel="stylesheet" , type="text/css" , href="/static/css/trivia/trivia.css">
</link>
{% endblock %}
{% block content %}
<div class="grid">
    <div class="row">
        <div class="col-25 align-left">
            <div class="score-table-wrapper">
                <table class="score-table">
                    <tr>
                        <th>Player</th>
                        <th>Score</th>
                    </tr>
                    {% for player in data['trivia']['players']%}
                    <tr>
                        <td align="left">{{ player['name'] }}</td>
                        <td align="right">{{ player['score']|default(0, true) }} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-50 align-center">
            <br></br>
            <p>Game on!</p>
            <button onclick="fetchQuestion()">Next Question</button>
            <div class="question" id="question-div">
            </div>
        </div>
        <div class="col-25 align-right">
            <div class="game-id-wrapper">
                <p>Game id: </p>
                <p>{{data['trivia_id']}}</p>
            </div>
        </div>
    </div>
</div>
<script>

    setInterval(updateQuestion, 4000);

    function updateQuestion() {
        var questionElement = document.getElementById('question-text');
        var questionText = "";
        if (questionElement != null) {
            questionText = btoa(questionElement.innerText);
        }

        return getQuestion("{{url_for('trivia.get_updates', trivia_id=data['trivia_id'])}}?question=" + questionText, formatQuestion);
    }

    function fetchQuestion() {
        return getQuestion("{{url_for('trivia.new_question', trivia_id=data['trivia_id'])}}", formatQuestion);
    }

    function getQuestion(url, formatQuestion) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = () => {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                formatQuestion(JSON.parse(xhttp.responseText));
            }
        };
        xhttp.open('GET', url);
        xhttp.send();
    }

    formatQuestion = (response) => {
        console.log(response);
        var question = response['results'][0];
        var questionElement = document.getElementById('question-div');
        questionElement.innerHTML = "";
        var questionText = document.createElement('p');
        questionText.id = 'question-text'
        questionText.appendChild(document.createTextNode(question['question']))
        questionElement.appendChild(questionText);
        if (question['type'] === 'multiple' || question['type'] === 'boolean') {
            var incorrectAnswers = question['incorrect_answers']
            var correctNumber = Math.floor(Math.random() * (incorrectAnswers.length + 1));
            incorrectAnswers.splice(correctNumber, 0, question['correct_answer']);
            var list = document.createElement('ol');
            for (i = 0; i < incorrectAnswers.length; i++) {
                var answer = document.createElement('li')
                answer.className = "answer-incorrect"
                if (i == correctNumber) {
                    answer.className = "answer-correct"
                }
                answer.appendChild(document.createTextNode(question['incorrect_answers'][i]));
                list.appendChild(answer);
            }
            questionElement.appendChild(list);
        }
    };
</script>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}