<div class="grid">
    <div class="row center-vertically">
        <div class="col-25">
        </div>
        <div class="col-50 align-center">
            <div class="wrapper-center align-middle">
                <form action="{{url_for('trivia.create_user')}}">
                    <input type="text" class="input-text" name="username" placeholder="Enter player name"></input>
                    <input type="hidden" name="trivia_id" value="{{ data['trivia_id'] }}"></input>
                    <button type="submit" class="button-form">GO!</button>
                </form>
            </div>
        </div>
        <div class="col-25">
        </div>
    </div>
</div>