<!DOCTYPE html>
<html lang="en">
{% block header %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Small-Api</title>
    <link rel="stylesheet" , type="text/css" , href="/static/css/style.css">
    </link>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
{% endblock %}

<body>
    {% block content %}{% endblock %}
    {% block footer %}
    <div class="footer">Footer</div>
    {% endblock %}
</body>

</html>