{%  extends "base.html" %}
{% block content %}

<div class="container">
    <div class="leftpane">
        <h1>Test Left</h1>
    </div>
    <div class="middlepane">
        <form action="{{url_for('trivia.create_user')}}">
            <label>Username</label>
            <input type="text" name="username"></input>
            <input type="hidden" name="trivia_id" value="{{ data['trivia_id'] }}"></input>
            <button type="submit">Create</button>
        </form>
    </div>
    <div class="rightpane">
        <h1>Test Right</h1>
    </div>
</div>

{% endblock %}